name: Release

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [amd64, arm64]
        exclude:
          - goos: windows
            goarch: arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
        run: |
          BIN_NAME=mping
          if [ "${{ matrix.goos }}" = "windows" ]; then
            BIN_NAME=mping.exe
          fi
          go build -v -o "$BIN_NAME" ./cmd/main

          # Archive
          VERSION=${GITHUB_REF_NAME}
          ARCHIVE_NAME="mping-${VERSION}-${{ matrix.goos }}-${{ matrix.goarch }}"
          
          if [ "${{ matrix.goos }}" = "windows" ]; then
            zip "${ARCHIVE_NAME}.zip" "$BIN_NAME"
          else
            tar -czvf "${ARCHIVE_NAME}.tar.gz" "$BIN_NAME"
          fi

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            *.zip
            *.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
